<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h3 class="mt-5 text-center text-3xl font-bold text-blue-400">OIMS</h3>
      <h2 class="mt-5 text-center text-2xl/9 font-bold tracking-tight text-zinc-800">Change Password</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form [formGroup]="forgetPasswordForm" class="space-y-6" (submit)="onSendEmail()">
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
          <div class="mt-2">
            <input type="email" formControlName="email" id="email" autocomplete="email" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
          @if (forgetPasswordForm.hasError('required', 'email') && forgetPasswordForm.controls['email'].dirty) {
            <p class="text-red-500">Email is required</p>
          }
          @if (forgetPasswordForm.hasError('email') && forgetPasswordForm.controls['email'].dirty) {
            <p class="text-red-500">Invalid email</p>
          }
        </div>
  
        <div>
          <button [disabled]="forgetPasswordForm.invalid" type="submit" class="flex w-full justify-center rounded-md bg-blue-400 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Send Email</button>
        </div>
      </form>
    </div>
  </div>
